# Python virtual environments
venv/
env/
.env/

# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Testing
.pytest_cache/
.coverage
htmlcov/

# Git
.git/
.gitignore

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Logs
logs/
*.log

# User-specific files
.DS_Store
Thumbs.db

# Large files, datasets, and models
models/*.onnx
*.model
*.bin
*.pt
*.pth 